absl-py==2.1.0
albucore==0.0.13
albumentations==1.4.14
altair==5.4.1
annotated-types==0.7.0
asttokens==2.4.1
attrs==24.2.0
blinker==1.7.0
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.0
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
distlib==0.3.8
et-xmlfile==1.1.0
eval_type_backport==0.2.0
executing==2.0.1
filelock==3.15.4
filetype==1.2.0
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.66.0
huggingface-hub==0.25.1
humanfriendly==10.0
idna==3.7
imageio==2.35.1
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lazy_loader==0.4
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
narwhals==1.9.0
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
onnx==1.16.2
onnxruntime==1.19.2
opencv-contrib-python==4.9.0.80
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
packaging==24.1
pandas==2.2.1
parso==0.8.4
pegasus==0.1.3
Pillow==9.5.0
pipenv==2024.0.1
platformdirs==4.2.2
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pycocotools==2.0.8
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.4
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyttsx3==2.90
pytz==2024.1
pywin32==306
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.1
roboflow==1.1.43
rpds-py==0.20.0
safetensors==0.4.5
scikit-image==0.24.0
scipy==1.14.1
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==72.2.0
sip==6.8.6
six==1.16.0
smmap==5.0.1
stack-data==0.6.3
streamlit==1.39.0
sympy==1.13.2
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
tifffile==2024.8.24
tokenizers==0.20.0
toml==0.10.2
tomli==2.0.1
torch==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers @ git+https://github.com/huggingface/transformers@50290cf7a0234c1b30bfdbf08fbb714fae3a2f19
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.2.102
ultralytics-thop==2.0.5
urllib3==2.2.2
virtualenv==20.26.3
watchdog==5.0.3
wcwidth==0.2.13
Werkzeug==3.0.1
